@import url(../../App.css);
@import url(../../index.css);
.experience-container {
    padding-left: 8rem;
    padding-top: 4rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
    margin-top: 1rem;
  }
  
  @media (max-width: 640px) {
    .experience-container {
      padding-left: 2rem;
      padding-top: 2rem;
      padding-right: 2rem;
      padding-bottom: 5rem;
      margin-top: 1rem;
    }
  }
  
  .experience-title {
    width: 18rem;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: wider;
  }
  
  @media (max-width: 1024px) {
    .experience-title {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .experience-title {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 640px) {
    .experience-title {
      font-size: 1.5rem;
    }
  }
  